<%- include("partials/header.ejs") %>

<main class="container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-10 p-lg-3 mx-auto my-3">
          <h1 class="display-4 fw-bold">SimplyPress.</h1>
          <h3 class="fw-normal text-muted mb-3">Plan, customize and write your mock-up blog post</h3>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

    <div class="row mb-2">
        <% blogPosts.forEach(post => { %>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.genre %></strong>
                    <h3 class="mb-0"><%= post.title %></h3>
                    <div class="mb-1 text-body-secondary"><%= post.date %></div>
                        <a href="/blog/<%= post.id %>" class="icon-link gap-1 icon-link-hover stretched-link pt-5">
                            <button type="button" class="btn btn-primary">Read here</button>
                        </a>
                </div>
            </div>
        </div>
        <% }); %>
    </div> 
</main>

<%- include("partials/footer.ejs") %>